<!DOCTYPE html>
<div>
<head>
    </script>
    <style>
        body { height: 100vh; }
        * { cursor: url(/static/assets/pawscursor.png) 0 0, default; }
    </style>
    <link rel="shortcut icon" href="/static/assets/pawscursor.png">
</head>

<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <a class="navbar-brand" href="/">
        <img src="/static/assets/foodlogo.png" width="76" height="50" class="center" alt="">
        <span class="navbar-toggler-icon"></span>
    </a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav mr-auto">
            <!-- url_for is a Jinja2 pre-processor that finds route from function name (def) -->

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    About Pages
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="{{ url_for('bconnor.connor') }}">Connor</a>
                    <a class="dropdown-item" href="{{ url_for('btanay.tanay') }}">Tanay</a>
                    <a class="dropdown-item" href="{{ url_for('bcolin.colin')}}">Colin</a>
                    <a class="dropdown-item" href="{{ url_for('bpranav.pranav')}}">Pranav</a>
                    <a class="dropdown-item" href="{{ url_for('bchase.chase')}}">Chase</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink2" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    PBL Pages
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2">
                    <a class="dropdown-item" href="{{ url_for('bpranav.dogs') }}">Dogs Adoption</a>
                    <a class="dropdown-item" href="{{ url_for('bpranav.birds') }}">Birds Adoption</a>
                    <a class="dropdown-item" href="{{ url_for('bchase.cat') }}">Cats Adoption</a>
                    <a class="dropdown-item" href="{{ url_for('bcolin.imageCarousel') }}">Meet Some Pets</a>
                    <a class="dropdown-item" href="{{ url_for('bpranav.petplanner') }}">Plan Out Adopting A Pet</a>
                    <a class="dropdown-item" href="{{ url_for('btanay.petpoll') }}">Pet Poll</a>
                </div>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink3" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Learn!
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink3">
                    <a class="dropdown-item" href="{{ url_for('bconnor.PetInfo') }}">Pet Information Overview</a>
                    <a class="dropdown-item" href="{{ url_for('bchase.enclosures') }}">Enclosures</a>
                    <a class="dropdown-item" href="{{ url_for('btanay.pethistory') }}">Pet History</a>
                    <a class="dropdown-item" href="{{ url_for('bchase.h2') }}">How To Care For Abandoned Pets</a>
                    <a class="dropdown-item" href="{{ url_for('btanay.costcalculator') }}">Manage Finances</a>
                    <a class="dropdown-item" href="{{ url_for('btanay.todo') }}">To-Do List</a>

                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink4" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Games and Fun!
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink4">
                    <a class="dropdown-item" href="{{ url_for('bconnor.PetQuiz') }}">Pet Quiz</a>
                    <a class="dropdown-item" href="{{ url_for('bchase.Pquiz2') }}">Pet Quiz 2</a>
                    <a class="dropdown-item" href="{{ url_for('btanay.hangman') }}">Hangman</a>
                    <a class="dropdown-item" href="{{ url_for('btanay.petguess') }}">Pet Guessing Game</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink5" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Database Features
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="{{ url_for('crud.search') }}">SQL Search</a>
                    <a class="dropdown-item" href="{{ url_for('crud.crud') }}">SQL Crud </a>
                    <a class="dropdown-item" href="{{ url_for('crud_api.crud_api') }}">SQL Async</a>
                    <a class="dropdown-item" href="{{ url_for('centercrud.crudAC') }}"> Adoption Center CRUD</a>
                </div>
            </li> 
        </div>
        <div class="btn-group">
            <div class="form-check form-switch">
                <input type="checkbox" onclick="darkFunction()" class="form-check-input" id="darkSwitch">
                <label style='color: dimgray;' class="custom-control-label" for="darkSwitch">Dark Mode</label>
            </div>
        </div>
        <div>
            <span id="clock"></span>
        </div>
    </div>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <div class = "float-right">
            <input type="text" class="form-control" id="term" placeholder="enter search term">
        </div>
        <div>
            <button class="btn btn-primary bg-secondary" data-bs-toggle="offcanvas" data-bs-target="#searchBar" onclick="nav_search();">Search</button>
        </div>
    </div>
    {% block navbar_script %}
        <!-- Navigation bar JavaScript support -->
        <script src={{  url_for("static", filename="javascript/navbar.js", version='140') }}></script>
    {% endblock %}

</nav>

<div class="offcanvas offcanvas-end bg-white text-dark" tabindex="-1" id="searchBar" aria-labelledby="offcanvasEndLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasEndLabel">Animals </h5>
    </div>
    <div class="offcanvas-body small">
        <div class="container py-4" style="background-color:black; color:white; border-color:white;">
            <div class="row">
                <div class="col-sm" style="font-weight: bold; font-size: large">
                    Animal
                </div>
                <div class="col-sm" style="font-weight: bold; font-size: large">
                    Diet
                </div>
                <div class="col-sm" style="font-weight: bold; font-size: large">
                    Habitat
                </div>
                <div class="col-sm" style="font-weight: bold; font-size: large">
                    Family
                </div>
                <div id="result">
                </div>
            </div>
        </div>
    </div>
</div>






</html>
<script type="text/javascript">
    var clockElement = document.getElementById('clock');

    function clock() {
        var date = new Date();

        // Replace '400px' below with where you want the format to change.
        if (window.matchMedia('(max-width: 400px)').matches) {
            // Use this format for windows with a width up to the value above.
            clockElement.textContent = date.toLocaleString();
        } else {
            // While this format will be used for larger windows.
            clockElement.textContent = date.toString();
        }
    }

    setInterval(clock, 1000);

    function nav_search() {
        // fetch standard requires data set to a name-value pair
        const term = document.getElementById("term");
        const body = {
            term: term.value
        };

        // fetch call with header options
        fetch('/crud/search/term/', {
            method: "POST",
            credentials: "include",
            body: JSON.stringify(body),
            cache: "no-cache",
            headers: new Headers({
                "content-type": "application/json"
            })
        })
            // async then replies with response header
            .then(function (response) {
                // prepare HTML search result container for new output
                const resultContainer = document.getElementById("result");
                // clean up from previous search
                while (resultContainer.firstChild) {
                    resultContainer.removeChild(resultContainer.firstChild);
                }
                // trap error response from Web API
                if (response.status !== 200) {
                    const errorMsg = 'Database response error: ' + response.status;
                    console.log(errorMsg);
                    const div = document.createElement("div");
                    div.innerHTML = errorMsg;
                    resultContainer.appendChild(div);
                    return;
                }
                // response contains valid result

                response.json().then(function(data) {
                    // loop through JSON and build HTML output
                    const div = document.createElement("div")
                    // add all rows to grid with loop
                    let grid = ""
                    for (let i = 0; i < data.length; i++) {
                        grid += "<div class='row'>" + "<div class='col'>" + data[i].name + "</div><div class='col'>" + data[i].email + "</div><div class='col'>" + data[i].password + "</div><div class = 'col'>" + data[i].phone + "</div><div>";
                    }
                    // update HTML with table
                    div.innerHTML = grid;
                    resultContainer.appendChild(div);
                })
            })
    }
</script>