<!DOCTYPE html>
{% extends "layouts/base.html" %}
{% block head %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hangman</title>

    <script>
        
        function dark() {
            var element = document.getElementById('navbarNavAltMarkup');
            element.classList.toggle("dark-mode");
        }

        // hangman game testing
        // it's more of a "hey guess this word and see if you're right"
        // letters don't work

        var words = ["cat","dog","frog","turtle","bird","fish","horse","sugarglider","chinchilla","hamster","rabbit","mouse","pig","ferret","lizard","snake","hedgehog","platypus"] // array for words
        var word = words[Math.floor(Math.random() * words.length)];
        var lives = 0   
        function spacesList() {
            document.getElementById("space").innerHTML = '';
            var spaces = ''
            for (var i = 0; i < word.length; i++) {
                // creating spaces for word length and a life counter
                spaces += "_ ";
                lives += 1
            }
            lives += 1 // adds an extra life because getting it wrong removes 1 immediately, crude, but it works 
            document.getElementById("space").innerHTML = spaces
            // alert(document.getElementById("space").innerHTML)
        }

        document.addEventListener("keydown", function(event) {
        if (event.which == 13) {
            hangman()
        }
        }); 

        function hangman() {
            // var word = document.getElementById("word").innerText;
            var guessW = document.getElementById("guess_word").value;
            if ( guessW == word ) {
                document.getElementById("space").innerHTML = word
                document.getElementById("guess_word").value = ''; // clears input field
                alert("CONGRATULATIONS!")
                document.getElementById("lives").style.display = 'none';
                document.getElementById("reload").style.display = 'inline'
            } else if ( guessW !== word) {
                document.getElementById("guess_word").value = ''; // clears input field
                // alert("wrong, try again")
                lives -= 1
                document.getElementById("lives").innerHTML = "you have " + lives + " lives left"
            }
            if ( lives < 1 ) {
                alert("Game Over. You stink")
                document.getElementById("reload").style.display = 'inline'
                document.getElementById("guessbtn").style.display = 'none';
                document.getElementById("lives").innerHTML = 'Game Over, Try Again.'
                if ( word === "platypus") // troll
                    document.getElementById("pets").src = "https://c.tenor.com/JtHxeUH0YNgAAAAM/perry-the-platypus-serious.gif"
            
            }
        }
        function FF() {
            alert("weakling, word is " + word)
        }
        
    </script>

    <style>
        .dark-mode {
            background: black;
            color: white;
        }
    </style>

</head>
{% endblock %}
{% block body %}
<body onload="spacesList()">
    <style>
        html,body {
            background-color: royalblue;
        }
    </style>
    <div style="text-align: center;">
        <h1>Hangman Game</h1>
        <p>The word is a type of pet</p>
        <p id=space></p>
        <!-- removed for testing, using an array for now -->
        <!-- <label for="word">Word</label>
        <input type="text" id="word" name="word"><br> -->
        <!-- Guessing the Word -->
        <label for="guess_word">Guess the Word</label>
        <input id="guess_word" name="guess_word">
        <input id="guessbtn" type="button" value="Guess" onclick="hangman()">
        <input type="button" value="Give Up" onclick="FF()">
        <br>
        <p id="lives"></p>
        <button id="reload" style="display: none; text-align: center;" onclick="location.reload();">Restart?</button>    

        <!-- Guessing a Single Letter -->
        <!-- <label for="guess_letter">Guess a Letter</label> -->
        <!-- <input type="text" id="guess_letter" name="guess_letter"> 
        <input type="submit" value="Submit" onclick="hangman()"> -->
        <br>
        <img id="pets" class="img-responsive py-3" alt="" width="25%" src="https://autumntrailsvet.com/wp-content/uploads/2020/04/We-care-for-many-kinds-of-animals.png" >
        <!-- THEY'RE DIFF SIZES <img id="place" class="img-responsive py-3" alt="" width="25%" src="/static/assets/pitbull.jpg" > --> 
    </div>
    

    <!-- <p>Guess the Pet Name (Do With Partner!)</p> -->
    

</body>
</html>
{% endblock %}