<!DOCTYPE html>
{% extends "layouts/base.html" %}
{% block head %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hangman</title>

    <script>
        
        function dark() {
            var element = document.getElementById('navbarNavAltMarkup');
            element.classList.toggle("dark-mode");
        }

        // hangman game testing
        // it's more of a "hey guess this word and see if you're right"
        // letters don't work

        var words = ["cat","dog","frog","turtle","bird","fish","horse","sugarglider","chinchilla","hamster","rabbit","mouse","pig","ferret"] // array for words
        var word = words[Math.floor(Math.random() * words.length)];
        var lives = 0
        var spaces = ""
        function spacesList() {
            document.getElementById("space").innerHTML = '';
            var spaces = ''
            for (var i = 0; i < word.length; i++) {
                // lettersNum[i] = "_ ";
                // var spaceElement = document.createElement("_ ");
                // document.getElementById("space").appendChild(spaceElement);
                spaces += "_ ";
                lives += 1
            }
            document.getElementById("space").innerHTML = spaces
            // alert(document.getElementById("space").innerHTML)
        }
        function hangman() {
            // var word = document.getElementById("word").innerText;
            var guessW = document.getElementById("guess_word").value;
            if ( guessW == word ) {
                document.getElementById("space").innerHTML = word
                document.getElementById("guess_word").value = ''; // clears input field
                alert("CONGRATULATIONS!")
                // congrats = document.getElementById("congrats");
                // congrats.style.display === "block";
                // document.getElementById("guessed").innerHTML = word;
                document.getElementById("lives").style.display = 'none';
            } else if ( guessW !== word) {
                document.getElementById("guess_word").value = ''; // clears input field
                alert("wrong, try again")
                lives - 1
                document.getElementById("lives").innerHTML = "you have " + lives + " lives left"
            }
        }
        function FF() {
            alert("weakling, word is " + word)
        }
        function letter() {
            var guess = document.getElementById("guess_letter").value;
            for (var i = 0; i < word.length; i++) {
                if (word[i] == guess) {
                    spaces[i].innerHTML = guess;
                    document.getElementById("space").innerHTML = spaces
                    alert("Letter works")
                }
                alert("Incorrect letter")
                document.getElementById("guess_letter").value = ''; // clears input field
            }
        }
    </script>

    <style>
        .dark-mode {
            background: black;
            color: white;
        }
    </style>

</head>
{% endblock %}
{% block body %}
<body onload="spacesList()">
    <style>
        html,body {
            background-color: royalblue;
        }
    </style>
    <div style="text-align: center;">
        <h1>Hangman Game</h1>
        <p>The word is a type of pet</p>
        <p id=space></p>
        <!-- removed for testing, using an array for now -->
        <!-- <label for="word">Word</label>
        <input type="text" id="word" name="word"><br> -->
        <!-- Guessing the Word -->
        <label for="guess_word">Guess the Word</label>
        <input id="guess_word" name="guess_word">
        <input id="guessbtn" type="button" value="Guess" onclick="hangman()">
        <input type="button" value="Give Up" onclick="FF()">
        <br>
        <p id="lives"></p>
        <!-- Guessing a Single Letter -->
        <label for="guess_letter">Guess a Letter</label>
        <input type="text" id="guess_letter" name="guess_letter" maxlength="1">
        <input type="submit" value="Submit" onclick="letter()">
        <br>
        <img id="place" class="img-responsive py-3" alt="" width="25%" src="https://autumntrailsvet.com/wp-content/uploads/2020/04/We-care-for-many-kinds-of-animals.png" >
        <!-- THEY'RE DIFF SIZES <img id="place" class="img-responsive py-3" alt="" width="25%" src="/static/assets/pitbull.jpg" > --> 

    </div>
    

    <!-- <p>Guess the Pet Name (Do With Partner!)</p> -->
    

</body>
</html>
{% endblock %}