<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}


<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}

{% block body %}
    <style>
        h1 {
            font-family: "Licorice";
            font-size: 69px;
            color: black;
        }
        body {
            background-image: url("/static/assets/to-do.jpeg");
            background-size: cover;
        }
        .column {
            float: left;
            width: 50%;
            text-align: center;
        }
        .coursebtn {
            padding: 30px;
        }
        .coursebtn:link,
        .coursebtn:visited {
            text-transform: uppercase;
            text-decoration: none;
            display: inline-block;
            border-radius: 100px;
            transition: all .2s;
            color: black;
            font-size: 20px;
            font-weight: 900;
        }
        .dark-mode {
            background-color: #35363a;
            color: #b3b3b3;
        }
        .coursebtn:hover {
            transform: translateY(-3px);
            box-shadow: 0 20px 40px rgba(255, 255, 255, 0.2);
            background-image: url(
            'https://ih1.redbubble.net/image.595546882.2904/flat,750x1000,075,f.u2.jpg');
            background-size: cover;
            color: white;
        }

        .coursebtn2 {
            padding: 30px;
        }
        .coursebtn2:link,
        .coursebtn2:visited {
            text-transform: uppercase;
            text-decoration: none;
            display: inline-block;
            border-radius: 100px;
            transition: all .2s;
            color: black;
            font-size: 20px;
            font-weight: 900;
        }

        .coursebtn2:hover {
            transform: translateY(-3px);
            box-shadow: 0 20px 40px rgba(255, 255, 255, 0.2);
            background-image: url(
            'https://thumbs.dreamstime.com/b/bird-gangster-creative-design-61320862.jpg');
            background-size: cover;
            color: white;
        }

        .coursebtn3 {
            padding: 30px;
        }
        .coursebtn3:link,
        .coursebtn3:visited {
            text-transform: uppercase;
            text-decoration: none;
            display: inline-block;
            border-radius: 100px;
            transition: all .2s;
            color: black;
            font-size: 20px;
            font-weight: 900;
        }

        .coursebtn3:hover {
            transform: translateY(-3px);
            box-shadow: 0 20px 40px rgba(255, 255, 255, 0.2);
            background-image: url(
            'https://imgs.capitalxtra.com/images/49202?crop=16_9&width=500&relax=1&signature=3uwqOTvfJR4NI3535KmOCbJg5so=');
            background-size: cover;
            color: white;
        }

        .coursebtn4 {
            padding: 30px;
        }
        .coursebtn4:link,
        .coursebtn4:visited {
            text-transform: uppercase;
            text-decoration: none;
            display: inline-block;
            border-radius: 100px;
            transition: all .2s;
            color: black;
            font-size: 20px;
            font-weight: 900;
        }

        .coursebtn4:hover {
            transform: translateY(-3px);
            box-shadow: 0 20px 40px rgba(255, 255, 255, 0.2);
            background-image: url(
            'https://images.immediate.co.uk/production/volatile/sites/7/2018/01/297562_0-55b0d37.jpg?quality=90&crop=3px,2px,594px,396px&resize=620,413');
            background-size: cover;
            color: white
        }

        .coursebtn5 {
            padding: 30px;
        }
        .coursebtn5:link,
        .coursebtn5:visited {
            text-transform: uppercase;
            text-decoration: none;
            display: inline-block;
            border-radius: 100px;
            transition: all .2s;
            color: black;
            font-size: 20px;
            font-weight: 900;
        }

        .coursebtn5:hover {
            transform: translateY(-3px);
            box-shadow: 0 20px 40px rgba(255, 255, 255, 0.2);
            background-image: url(
            'https://www.pdffiller.com/preview/102/12/102012949/large.png');
            background-size: cover;
            color: white
        }

        .coursebtn6 {
            padding: 30px;
        }
        .coursebtn6:link,
        .coursebtn6:visited {
            text-transform: uppercase;
            text-decoration: none;
            display: inline-block;
            border-radius: 100px;
            transition: all .2s;
            color: black;
            font-size: 20px;
            font-weight: 900;
        }

        .coursebtn6:hover {
            transform: translateY(-3px);
            box-shadow: 0 20px 40px rgba(255, 255, 255, 0.2);
            background-image: url(
            'https://cdn.omlet.co.uk/images/cache/751/450/catio-outdoor-cat-enclosure-MOBILE.jpg');
            background-size: cover;
            color: white;
        }


    </style>
    <div class="container" style="margin-top: 8px">
        <h1 style="text-align:center">Pet Page!</h1>
        <div class="row">
            <div class="column">
                <a style="margin-bottom: 20%;" href="{{ url_for('bchase.cat') }}" class="coursebtn">Cats</a>
                <br>
                <a  href="{{ url_for('bpranav.birds') }}" class="coursebtn2">Birds</a>
                <br>
                <a style="margin-top: 20%;"  href="{{ url_for('bpranav.dogs') }}" class="coursebtn3">Dogs</a>
            </div>
            <div class="column">
                <a style="margin-bottom: 20%;" href="{{ url_for('btanay.pethistory') }}" class="coursebtn4">Pet History</a>
                <br>
                <a  href="{{ url_for('bconnor.PetInfo') }}" class="coursebtn5">Pet Info</a>
                <br>
                <a style="margin-top: 20%;"  href="{{ url_for('bchase.enclosures') }}" class="coursebtn6">Pet Enclosures</a>
            </div>
        </div>
    </div>
{% endblock %}
